.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.addButton {
  background-color: #ffb300;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.addButton:hover {
  background-color: #ffcc40;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
}

/* Estilos do modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 600px; /* Aumentamos a largura do modal */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Mais espaço entre os elementos */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.modalContent h2 {
  margin-bottom: 10px;
  color: #333;
}

.modalContent input,
.modalContent textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%; /* Para que os inputs e o textarea ocupem toda a largura */
}

.modalContent textarea {
  height: 150px; /* Aumenta a altura do textarea para suportar mais texto */
  resize: vertical; /* Permite que o usuário altere a altura do textarea se necessário */
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modalButtons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalButtons button:first-child {
  background-color: #ffb300;
  color: #4a0077;
}

.modalButtons button:last-child {
  background-color: #d32f2f;
  color: white;
}

.modalButtons button:first-child:hover {
  background-color: #ffd54f;
}

.modalButtons button:last-child:hover {
  background-color: #e57373;
}
