.content {
    display: flex;
    justify-content: space-between;
    height: 4em;
    align-items: center;
    padding:5em 0;
}

.links a {
    text-decoration: none;
    margin: 0 10px;
    border-radius: 22px;
    padding: 10px 30px;
}


.links a:hover {
    transform: scale(3);
}

.login {
    color: #420B58;
    border: 2px solid #FC036C;
}

.login:hover {
    background-color: #FC036C;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cadastro{
    background-color: #420B58;
    color: #fff;
}

.cadastro:hover {
    background-color: #FC036C;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}